<h2>Show project</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @project.name %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @project.url %>
  </li>

  <li>
    <strong>Plugins:</strong>
    <%= @project.plugins %>
  </li>

</ul>

<%= link "Edit", to: project_path(@conn, :edit, @project) %>
<%= link "Back", to: project_path(@conn, :index) %>
